Makefile
Makefile.in
/aclocal.m4
/autotools/
/autoscan.log
/autoscan-*.log
/automake.cache/
/autom4te.cache/
/config.*
/configure
compile
configure.scan
configure.lineno
missing
depcomp
install-sh
libtool
m4
stamp-*
.deps/
.dirstamp
.libs/
*.o
*.old
*.org
*.a
*.tar*
*.la
*~
*.swp
